<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
</head>
<body>
    <ul>
        {{range .Persons}}
            <div>
                <a style="display: inline;" href="http://localhost:8080/api/person/{{ .Id }}">{{ .Id }}</a><li>{{ .Name }} {{ .Surname }}</li>
            </div>
        {{ end }}
    </ul>
    <a href="http://localhost:8080/auth/logout">logout</a>
</body>
</html>